#base
/.idea
/.well-known
.DS_Store
Thumbs.db
*.log
*.sql
*.xml
*.dt
*.swp
*.swo
*.pdf
*.doc
*.docx
*.csv
*.txt
*.xls
*.old
*.bak
composer.phar
*.rar
*.7z
*.zip
*.tar.gz

# custom
log/*
data/dataToSend/*
data/emailNotice/*
*.ini
!sendToRun.txt
!sendToNotice.txt

*.lock
